<%
=begin %>
  <form action="/users" method="post" accept-charset="UTF-8">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <label for="username">Username: </label><br>
      <input type="text" name="user[username]"<br><br>
      <label for="email">Email: </label><br>
      <input type="text" name="user[username]"<br><br>
      <label for="password">Password: </label><br> 
      <input type="password" name="user[password]"<br><br>
      <input type="submit" value="Submit">
</form>


<%= form_tag users_path do %>
  <p><%= label_tag "username", "Username: " %></p>
     <%= text_field_tag :'user[username]' %>
     <p><%= label_tag "email", "Email: " %></p>
     <%= email_field_tag :'user[email]' %>
     <p><%= label_tag "password", "Password: " %></p>
     <%= password_field_tag :'user[password]' %>
  <p><%= submit_tag %></p>
<% end %>

<%
=end %>

<%= render 'form' %>

<%
=begin%>

<p><%= f.label :email, "E-mail: " %></p>
     <%= f.text_field(:email, { :name => 'user[email]'}) %>
  <p><%= f.label :password, "Password: " %></p>
     <%= f.password_field(:password, { :name => 'user[password]'})%>
  <p><%= f.submit %></p>

<%
=end %>